.bg-light {
  --bs-bg-opacity: 1;
  background-color: #E4B1AB !important; }

.container-fluid {
  background-color: #CC444B; }

.navbar-toggler {
  border: 0px; }

.nav-link {
  color: black; }
  .nav-link:hover {
    transform: translateY(-2px);
    transition: all 0.4 ease; }

.titulo {
  margin: 20px 40px;
  font-size: 45px; }

.descripcion {
  font-size: 22px;
  padding: 75px;
  flex-basis: 80%;
  margin: 50px;
  margin-left: 100px;
  color: white;
  background-color: #e43451; }

footer .contact-info {
  background: #CC444B; }

footer .contact-info h4,
footer .contact-info ul,
footer .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0; }

footer .contact-info ul {
  list-style: none;
  padding: 0; }

footer .contact-info ul li {
  padding: 5px; }

footer .contact-info ul li .fa-solid,
footer .contact-info ul li {
  padding: 0px 5px; }

@media (min-width: 767px) {
  .contact-info ul li .fa-solid,
  .contact-info ul li {
    padding: 0px 10px; } }

body {
  background-color: #E4B1AB; }

.foto1 {
  height: 90vh;
  width: 100%;
  align-items: center; }

.titulo {
  margin: 20px 40px;
  font-size: 45px; }

.descripcion {
  font-size: 22px;
  padding: 75px;
  flex-basis: 80%;
  margin: 50px;
  margin-left: 100px;
  color: white;
  background-color: #e43451; }

@media (max-width: 767px) {
  .foto1 {
    height: 25vh; }
  .titulo {
    margin: 10px 20px;
    font-size: 30px;
    text-align: center; }
  .descripcion p {
    font-size: 16px;
    display: grid; }
  section {
    display: flex;
    flex-wrap: wrap; }
  .titulo {
    margin: 20px 10px;
    font-size: 42px;
    text-align: left; }
  .descripcion {
    margin-right: 10px;
    margin-left: 10px;
    padding: 40px; } }

div .pack1 .pack2 .pack3 {
  display: flex;
  justify-content: space-between; }

.pack1 {
  font-size: 22px;
  padding: 75px;
  width: 80%;
  margin: 50px;
  margin-left: 50px;
  color: black;
  background-color: #e43451; }

.pack2 {
  font-size: 22px;
  padding: 75px;
  width: 80%;
  margin: 50px;
  margin-left: 50px;
  color: black;
  background-color: #e43451; }

.pack3 {
  font-size: 22px;
  padding: 75px;
  width: 80%;
  margin: 50px;
  margin-left: 50px;
  color: black;
  background-color: #e43451; }

@media (max-width: 767px) {
  .pack1 {
    padding: 8px;
    grid-template-columns: 0px;
    font-size: 20px; }
  .pack2 {
    padding: 8px;
    grid-template-columns: 0px;
    font-size: 20px; }
  .pack3 {
    padding: 8px;
    grid-template-columns: 0px;
    font-size: 20px; } }

.nosotros {
  color: black;
  font-size: 22px;
  margin: 50px 400px;
  text-align: right; }

.footer1 {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #E4B1AB;
  position: absolute;
  bottom: 0;
  width: 100%; }

main h1 {
  display: flex;
  flex-direction: row;
  justify-content: center; }

@media (max-width: 767px) {
  .titulo {
    margin: 30px 30px;
    font-size: 42px;
    text-align: left; }
  .nosotros {
    font-size: 16px;
    display: grid;
    grid-template-columns: 350px; }
  .nosotros {
    margin-right: 20px;
    margin-left: 0;
    padding: 40px;
    text-align: left; } }

.img-carousel-custom {
  width: 100%;
  padding: 200px 200px;
  object-fit: cover; }

@media (max-width: 767px) {
  .img-carousel-custom {
    padding: 0px; } }

* {
  box-sizing: border-box; }

.body-contact {
  background: #E4B1AB;
  color: black;
  font-family: poppings; }

.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em; }

h1 {
  text-align: center;
  font-size: 3em; }

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3); }

.contact-wrapper > * {
  padding: 1em; }

.contact-form {
  background: #e43451; }

.contact-form form {
  margin: 0;
  padding: 1em; }

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 8px;
  border: none;
  background: none;
  outline: 0;
  color: black;
  border-bottom: 1px solid white; }

.contact-form form button {
  background: #ff0e36;
  border: 0;
  text-transform: uppercase;
  padding: 8px; }

.contact-form form button:hover,
.contact-form form button:focus {
  background: #8b081e;
  color: black;
  transition: background-color ease-out;
  outline: 0; }

.contact-info {
  background: #CC444B; }

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0; }

.contact-info ul {
  list-style: none;
  padding: 0; }

@media (min-width: 767px) {
  .contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .contact-form form p {
    margin: 0;
    padding: 1em; }
  .contact-form form .block {
    grid-column: 1 / 3; }
  .contact-form form button,
  .contact-form form input,
  .contact-form form textarea {
    width: 100%;
    padding: 8px; }
  .contact-info ul li .fa-solid,
  .contact-info ul li {
    padding: 0px 10px; } }
