*{
    margin: 0;
    padding: 0;
    font-family: poppings;
}

header{
    background-color: #DA5552;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

header nav{
    display: flex;
    align-items: center;
}

header nav ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    font-size: 20px;
}

header nav li a{
    text-decoration: none;
    color: white;
    padding: 0px 12px;
}
header nav li a:hover{
    color: rgb(0, 0, 0);
}
.tab-nav:hover{
    transform: translateY(-2px);
    transition: all 0.4 ease;
}

body{
    background-color: #E4B1AB;
}

h1{
    font-size: 40px;
    margin: 20px;

}
.foto1{
    background-image:./assets/df.jpg;
    height: 90vh;
    width: 100%;
    align-items: center;
}

.descripcion{
    font-size: 22px;
    padding: 75px;
    width: 80%;
    margin: 50px;
    margin-left: 100px;
    color: rgb(255, 255, 255);
    background-color: rgb(228, 52, 81);
}

.titulo{
    margin: 20px 40px;
    font-size: 45px;
}
.footer1{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}



Sobre Nosotros

.nosotros{
    color: rgb(0, 0, 0);
    font-size: 22px;
    margin: 50px 400px;
    text-align: right;   
}

main h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div .pack1 .pack2 .pack3{
    display: flex;
    justify-content: space-between;

}

.pack1{
    font-size: 22px;
    padding: 75px;
    width: 80%;
    margin: 50px;
    margin-left: 50px;
    color: rgb(0, 0, 0);
    background-color: rgb(228, 52, 81);
}

.pack2{
    font-size: 22px;
    padding: 75px;
    width: 80%;
    margin: 50px;
    margin-left: 50px;
    color: rgb(0, 0, 0);
    background-color: rgb(228, 52, 81);
}

.pack3{
    font-size: 22px;
    padding: 75px;
    width: 80%;
    margin: 50px;
    margin-left: 50px;
    color: rgb(0, 0, 0);
    background-color: rgb(228, 52, 81);
}

.img-trabajos{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.titulo-consulta{
    margin: 30px;
    padding: 30px;
}

.tarjeta
{
    background-color: #CC444B;
    width: 250px;
    height: 250px;
    margin: 35px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.tarjeta2{
    background-color: #CC444B;
    width: 250px;
    height: 250px;
    margin: 35px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.tarjeta3{
    background-color: #CC444B;
    width: 250px;
    height: 250px;
    margin: 35px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

footer{
    font-size: 20px;
    margin: 25px;
    margin-left: 100px;
}

@media (max-width:767px){
    header{
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    header nav ul{
        font-size: 12px;
    h1{
        font-size: 40px;
    }
}