*{
    margin: 0;
    padding: 0;
    font-family: poppings;
}

body{
    background-color: #E4B1AB;
}

.container-fluid{
    background-color: #CC444B;
}


.navbar-toggler{
    border: 0px;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    transform: translateY(-2px);
    transition: all 0.4 ease;
}

h1{
    font-size: 40px;
    margin: 20px;
}

.foto1{
    background-image:./assets/df.jpg;
    height: 90vh;
    width: 100%;
    align-items: center;
}

.descripcion{
    font-size: 22px;
    padding: 75px;
    flex-basis: 80%;
    margin: 50px;
    margin-left: 100px;
    color: rgb(255, 255, 255);
    background-color: rgb(228, 52, 81);
}

.titulo{
    margin: 20px 40px;
    font-size: 45px;
}
footer{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E4B1AB;
}



Sobre Nosotros

.nosotros{
    color: rgb(0, 0, 0);
    font-size: 22px;
    margin: 50px 400px;
    text-align: right;   
}

.footer1{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E4B1AB;
    position: absolute;
    bottom: 0;
    width: 100%;
}

main h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div .pack1 .pack2 .pack3{
    display: flex;
    justify-content: space-between;

}


.pack1{
    font-size: 22px;
    padding: 75px;
    width: 80%;
    margin: 50px;
    margin-left: 50px;
    color: rgb(0, 0, 0);
    background-color: rgb(228, 52, 81);
}

.pack2{
    font-size: 22px;
    padding: 75px;
    width: 80%;
    margin: 50px;
    margin-left: 50px;
    color: rgb(0, 0, 0);
    background-color: rgb(228, 52, 81);
}

.pack3{
    font-size: 22px;
    padding: 75px;
    width: 80%;
    margin: 50px;
    margin-left: 50px;
    color: rgb(0, 0, 0);
    background-color: rgb(228, 52, 81);
}

.img-trabajos{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.titulo-consulta{
    margin: 30px;
    padding: 30px;
}

.tarjeta
{
    background-color: #CC444B;
    width: 250px;
    height: 250px;
    margin: 35px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.tarjeta2{
    background-color: #CC444B;
    width: 250px;
    height: 250px;
    margin: 35px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.tarjeta3{
    background-color: #CC444B;
    width: 250px;
    height: 250px;
    margin: 35px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}



@media (max-width:767px){
    .foto1{
        height: 25vh;
    }
}


@media (max-width:767px){
    .titulo{
        margin: 10px 20px;
        font-size: 30px;
        text-align: center;
    }

    .descripcion p{
        font-size: 16px;
        display: grid;
        grid-template-columns: 350px
        }

    section{
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .titulo{
        margin: 20px 10px;
        font-size: 42px;
        text-align: left;
    }

    .descripcion{
        margin-right: 10px;
        margin-left: 10px;
        padding: 40px;
    }

    footer{
        font-size: 19px;
        flex-direction: column;
        justify-content: center;
        background-color: #E4B1AB;
    }

    .footer1{
        font-size: 19px;
        flex-direction: column;
        justify-content: center;
        background-color: #E4B1AB;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}