footer{
    .contact-info{
        background: #CC444B;
    }
    
    .contact-info h4,
    .contact-info ul,
    .contact-info p{
        text-align: center;
        margin: 0 0 1rem 0;
    }
    
    .contact-info ul{
        list-style: none;
        padding: 0;
    }
    
    .contact-info ul li{
        padding: 5px;
    }
    
    .contact-info ul li .fa-solid,
    .contact-info ul li{
        padding: 0px 5px;
    }
}

@media (min-width:767px){
    .contact-info ul li .fa-solid,
    .contact-info ul li{
        padding: 0px 10px;
    }
}